<!-- <ion-header>
  <ion-toolbar>
    <ion-title>pre-trip</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
  <h1><strong>Trivia Time!</strong></h1>
  <img style="height: 215px" src="../../assets/icon/klcc.png">
  <h5>How many floors does the Petronas Twin Towers has?</h5>
  <br>
  <ion-button color="primary" expand="block" fill='outline' [routerLink]="['/start-trip']" (click)='closePopover()'>
    <!-- <strong style="text-align: left">A. </strong> -->
    74 Floors
  </ion-button>
  <ion-button color="primary" expand="block" fill='outline' [routerLink]="['/start-trip']" (click)='closePopover()'>
    <!-- <strong style="text-align: left">A. </strong> -->
    85 Floors
  </ion-button>
  <ion-button color="primary" expand="block" fill='outline' [routerLink]="['/start-trip']" (click)='closePopover()'>
    <!-- <strong style="text-align: left">A. </strong> -->
    88 Floors
  </ion-button>
  <ion-button color="primary" expand="block" fill='outline' [routerLink]="['/start-trip']" (click)='closePopover()'>
    <!-- <strong style="text-align: left">A. </strong> -->
    91 Floors
  </ion-button>
  <!-- <strong style='font-color:grey'>Depart Time:</strong>8.30am
  <br>
  <strong style='font-color:grey'>Arrival Time:</strong> 12.00pm -->

  <!-- <ion-chip color="success" style='width:95%'>
    <ion-icon name="gift" ></ion-icon>
    <ion-label>You will earn 1500 points for this trip</ion-label>
  </ion-chip>
  <ion-chip color="success" style='width:95%'>
    <ion-icon name="car" ></ion-icon>
    <ion-label>Traffic conditions are optimal.</ion-label>
  </ion-chip>
  <ion-chip color="warning" style='width:95%; margin-bottom: 15px'>
      <ion-icon name="rainy" ></ion-icon>
      <ion-label>55% chance of rain from 10.00 am - 11.00 am.</ion-label>
    </ion-chip> -->

</ion-content>
