.bottom-card{
    background-color:white;
    position: absolute;
    top: 440px;
    left:0px;
    right:0px;
    width:100%;
    margin-left: 0px;
}

.top-item{
    font-size:14px;
    height:32px;
    // padding-left:14px;
}