
<ion-content padding>
  <br>
  <h1><strong>Take Your Perfect Shot</strong></h1>
  <h4>Suria KLCC Fountain</h4>
  <ion-chip color="success" style='width:95%'>
    <ion-icon name="gift" ></ion-icon>
    <ion-label><strong>45</strong> people were here</ion-label>
  </ion-chip>
  <ion-chip color="success" style='width:95%'>
    <ion-label>It is the 'golden hour'. Perfect for that insta-picture</ion-label>
  </ion-chip>

  <h5>Some inspirations:</h5>
  <ion-card style="margin: 0px;">
    <ion-card-content style="padding: 0px">
      <img src="../../assets/icon/klcc1.png">
      <ion-card-subtitle>@knazran 24/06/2019</ion-card-subtitle>
      </ion-card-content>
  </ion-card>
  <br>

  <ion-card style="margin: 0px; padding:0px">
    <ion-card-content style="padding: 0px">
      <img src="../../assets/icon/insta1.png">
      <ion-card-subtitle>@railzan 27/06/2019</ion-card-subtitle>
      </ion-card-content>
  </ion-card>
  <br>
  <ion-card style="margin: 0px; padding:0px">
    <ion-card-content style="padding: 0px">
      <img src="../../assets/icon/insta2.png">
      <ion-card-subtitle>@nazhensem 30/06/2019</ion-card-subtitle>
      </ion-card-content>
  </ion-card>
  
  <br>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" [routerLink]="['/home']">
    <ion-fab-button>
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
