<ion-header>

</ion-header>
<br>
<ion-content padding>
  <div id="imgwrap">
      <img src='../../assets/icon/plussie_huh.png'>
    </div>

  <h2 style="font-size:26px"><strong>Anything else to consider?</strong></h2>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="icon-avatar">
            <img  style=" max-width:100%; max-height:100%;" src="../../assets/icon/noun_Happy Children_966957.png">
        </div>
        <ion-label>Children Onboard</ion-label>
      </ion-col>
      <ion-col>
        <div class="icon-avatar">
            <img  style=" max-width:80%; max-height:80%;" src="../../assets/icon/restaurant.svg">
        </div>
        <ion-label>RnR Breaks</ion-label>
      </ion-col>
      <ion-col>
        <div class="icon-avatar">
            <img  style=" max-width:100%; max-height:100%;" src="../../assets/icon/noun_Pets_13421.png">
        </div>
        <ion-label>Pets Onboard</ion-label>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <div class="icon-avatar">
                <img  style=" max-width:80%; max-height:80%;" src="../../assets/icon/petrol.jpeg">
            </div>
        <ion-label>Petrol Stop</ion-label>
        </ion-col>
        <ion-col>
            <div class="icon-avatar">
                <img style=" max-width:100%; max-height:100%;" src="../../assets/icon/policeicon.png">
            </div>
          <ion-label>Police Watch</ion-label>
          </ion-col>
          <ion-col>
            <div class="icon-avatar">
                <img style=" max-width:100%; max-height:100%;" src="../../assets/icon/disableicon.jpg">
            </div>
            <ion-label>Disability Friendly</ion-label>
            </ion-col>
      </ion-row>
  </ion-grid>
  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title style="font-size:20px">Anything else to consider?</ion-card-title>
    </ion-card-header>
    <ion-card-content>

    </ion-card-content>
    </ion-card> -->
  <ion-button color="primary" expand="full" [routerLink]="['/recommend-trip']">
    Plan My Trip
  </ion-button>
</ion-content>
