<ion-header>

</ion-header>

<ion-content padding>
  <img src='../../assets/icon/map.png' style="position: absolute; z-index: 0; top:30px;left:0px;width: 450px;height:680px">
  <ion-card class="bottom-card">
    <!-- <ion-card-header style="padding-bottom:0cm;padding-top:10px">
      <ion-card-title style="font-size:18px">Predicted Traffic Conditions</ion-card-title>
    </ion-card-header> -->
    <!-- <ion-content>
      <div id="imgwrap" (click)="toastTakeABreak()">
        <img [src]="plussie_img">
      </div>
    </ion-content> -->
  </ion-card>
  <ion-fab [routerLink]="['/home']" vertical="bottom" horizontal="start">
    <ion-fab-button>
      <ion-icon name="arrow-dropleft"></ion-icon>
    </ion-fab-button>
    </ion-fab>
<ion-button style="position:absolute; bottom:10px;width:95%" color="clear" expand="block" (click)="toastTakeABreak()">
  </ion-button>
</ion-content>
