<br>

<ion-content padding>
  <h1><strong>Select Tours and Experiences</strong></h1>
  <ion-card style="margin: 0px; height:88%" [routerLink]="['/start-trip']">
  <ion-card-content style="padding: 0px; height:77%">
      <img src='../../assets/icon/ghost.png'>
  </ion-card-content>
  <ion-card-header>
    <ion-card-title style="font-size:24px; margin-bottom: 10px">Kuala Lumpur Ghost Walk</ion-card-title>
    <ion-card-subtitle>Kuala Lumpur is a vibrant city with great music, amazing foods and best of all - haunted landmarks</ion-card-subtitle>
    <ion-chip color="success">
        <!-- <ion-icon name="gift" ></ion-icon> -->
        <ion-label> 5 stops</ion-label>
      </ion-chip>
      <ion-chip color="success">
          <!-- <ion-icon name="gift" ></ion-icon> -->
          <ion-label> 3 hours</ion-label>
        </ion-chip>
        <ion-chip color="success">
            <!-- <ion-icon name="gift" ></ion-icon> -->
            <ion-label> MYR 10.00</ion-label>
          </ion-chip>
  </ion-card-header>
  </ion-card>
  <br>
  <ion-card style="margin: 0px; height:88%" [routerLink]="['/start-trip']">
    <ion-card-content style="padding: 0px; height:77%">
        <img src='../../assets/icon/heritage.png'>
    </ion-card-content>
    <ion-card-header>
      <ion-card-title style="font-size:24px; margin-bottom: 10px">Chinese Heritage Walk</ion-card-title>
      <ion-card-subtitle>Explore exhibits and places chronicling the history of Chinese immigrants in this part of Peninsular Malaysia.</ion-card-subtitle>
      <ion-chip color="success">
          <!-- <ion-icon name="gift" ></ion-icon> -->
          <ion-label> 6 stops</ion-label>
        </ion-chip>
        <ion-chip color="success">
            <!-- <ion-icon name="gift" ></ion-icon> -->
            <ion-label> 5 hours</ion-label>
          </ion-chip>
          <ion-chip color="success">
              <!-- <ion-icon name="gift" ></ion-icon> -->
              <ion-label> MYR 20.00</ion-label>
            </ion-chip>
    </ion-card-header>
    </ion-card>
    <br>
  <ion-card style="margin: 0px; height:88%" [routerLink]="['/start-trip']">
    <ion-card-content style="padding: 0px; height:77%">
        <img style='height: 100%;' src='../../assets/icon/klcc3.png'>
    </ion-card-content>
    <ion-card-header>
      <ion-card-title style="font-size:24px; margin-bottom: 10px">Landmarks Tour</ion-card-title>
      <ion-card-subtitle>Explore the famous landmarks of Kuala Lumpur which also includes visits to stores with local delicacies</ion-card-subtitle>
      <ion-chip color="success">
          <!-- <ion-icon name="gift" ></ion-icon> -->
          <ion-label> 4 stops</ion-label>
        </ion-chip>
        <ion-chip color="success">
            <!-- <ion-icon name="gift" ></ion-icon> -->
            <ion-label> 6 hours</ion-label>
          </ion-chip>
          <ion-chip color="success">
              <!-- <ion-icon name="gift" ></ion-icon> -->
              <ion-label> FREE </ion-label>
            </ion-chip>
    </ion-card-header>
    </ion-card>

  <ion-button style="position:absolute; bottom:10px;width:95%" color="clear" expand="block" [routerLink]="['/start-trip']">
  </ion-button>
</ion-content>
